<template>
  <index-page title="Data Admin" description="Lihat dan tambah data Admin">
    <default-table
      ref="table"
      title="Data Admin"
      :headers="headers"
      :get-data="getAdminList"
      @click-edit="editItem"
      @click-delete="deleteItem"
      @click-create="createDialog = true"
    />
    <v-dialog
      v-model="createDialog"
      max-width="800"
      @click:outside="AdminData = {}"
    >
      <v-card class="px-0 pb-5">
        <create-comp
          v-if="createDialog"
          :AdminData="AdminData"
          @done="doneAndRefresh"
        />
      </v-card>
    </v-dialog>
  </index-page>
</template>
<script>
import createComp from '~/components/admin/AdminCreate'
import DefaultTable from '~/components/common/DefaultTable.vue'
import IndexPage from '~/components/common/IndexPage.vue'
export default {
  components: { createComp, IndexPage, DefaultTable },
  data() {
    return {
      headers: [
        {
          text: 'Nama',
          value: 'nama',
          sortable: false
        },
        {
          text: 'Email',
          value: 'email',
          sortable: false
        },
        {
          text: 'Role',
          value: 'role',
          sortable: false
        },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      createDialog: false,
      AdminData: {}
    }
  },
  created() {
    this.getAdminList()
  },
  methods: {
    editItem(item) {
      this.AdminData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      this.$deleteSwal().then(async (result) => {
        if (result.value) {
          await this.$api.Admin.delete(item.id)
          this.$refs.table.fetchItems()
          this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')
        }
      })
    },
    getAdminList(page, perPage, search) {
      return this.$api.Admin.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.AdminData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
