<template>
  <div>
    <header-comp title="Input Data Banner"></header-comp>
    <v-container>
      <v-form ref="formBanner">
        <v-row class="px-5">
          <v-col cols="12" sm="6">
            <v-text-field
              label="Link"
              :rules="[rules.required]"
              placeholder=" "
              v-model="BannerData.link"
              outlined
            ></v-text-field>
            <v-text-field
              label="Deskripsi"
              :rules="[rules.required]"
              placeholder=" "
              v-model="BannerData.deskripsi"
              outlined
            ></v-text-field>
            <v-switch
            v-model="BannerData.is_published"
            :label="
              `Status Publikasi: ${
                BannerData.is_published ? 'Terpublikasi' : 'Belum di publikasi'
              }`
            "
          ></v-switch>
          <image-input
              v-model="BannerData.foto"
              label="Banner Foto (Optional)"
              :image-path="$globalConfig.bannerImagePath"
            />
          </v-col>
          <!-- <v-col cols="12" sm="6">
            <v-autocomplete
              v-model="BannerData.itemId"
              :items="items"
              item-text="name"
              item-value="id"
              outlined=""
              label="Pilih Items"
            ></v-autocomplete>
          </v-col>-->
        </v-row>
        <v-row class="px-5" justify="end">
          <v-btn :loading="loading" @click="save" color="primary" rounded>Simpan</v-btn>
        </v-row>
      </v-form>
    </v-container>
  </div>
</template>
<script>
import headerComp from '~/components/header'
import ImageInput from '~/components/common/ImageInput'
export default {
  props: ['BannerData'],
  components: {
    headerComp,
    ImageInput
  },
  data() {
    return {
      loading: false,
      rules: {
        required: (value) => !!value || 'Wajib diisi.'
      }
      // items: []
    }
  },
  methods: {
    save() {
      const isValid = this.$refs.formBanner.validate()
      if (isValid) {
        if (this.BannerData.id) {
          this.update(this.BannerData.id)
        } else {
          this.create()
        }
      }
    },
    async create() {
      try {
        this.loading = true
        await this.$api.Banner.create(this.BannerData)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    },
    async update(id) {
      try {
        this.loading = true
        const payload = { ...this.BannerData }
        delete payload.id
        await this.$api.Banner.update(id, payload)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    }
  }
}
</script>
