<template>
  <v-container>
    <v-form ref="formArticle">
      <v-row>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="judul"
            label="Judul Artikel"
            :rules="[rules.required]"
            placeholder=" "
            outlined
          ></v-text-field>
          <image-input v-model="thumbnail" />
          <v-select
            v-model="topik_id"
            class="mt-3"
            item-text="judul"
            item-value="id"
            label="Topik"
            outlined
            :items="topics"
          >
          </v-select>
        </v-col>
        <v-col cols="12" sm="6">
          <v-select
            v-model="jenis"
            label="Jenis Artikel"
            outlined
            :items="[
              {
                text: 'Umum',
                value: 'umum'
              },
              {
                text: 'Screening',
                value: 'screening_lanjutan'
              },
              {
                text: 'Dokter',
                value: 'dokter'
              }
            ]"
          >
          </v-select>
          <v-switch
            v-model="is_published"
            :label="
              `Status Publikasi: ${
                is_published ? 'Terpublikasi' : 'Belum di publikasi'
              }`
            "
          ></v-switch>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <default-editor v-model="content" />
        </v-col>
      </v-row>
      <v-row class="px-5" justify="end">
        <v-btn
          class="mr-2"
          :loading="loading"
          color="info"
          rounded
          @click="handleBackButtonClick"
          >Batal</v-btn
        >
        <v-btn
          :loading="loading"
          color="primary"
          rounded
          @click="$emit('submit')"
          >Simpan</v-btn
        >
      </v-row>
    </v-form>
  </v-container>
</template>
<script>
import ImageInput from '../common/ImageInput.vue'
import { vmodelMapper } from '~/libs/vue'
import DefaultEditor from '~/components/common/DefaultEditor.vue'
export default {
  components: { DefaultEditor, ImageInput },
  props: {
    value: {
      type: Object,
      default: null
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      rules: {
        required: (value) => !!value || 'Wajib diisi.'
      },
      topics: [
        {
          id: null,
          judul: 'Semua'
        }
      ]
    }
  },
  computed: {
    ...vmodelMapper([
      'judul',
      'is_published',
      'content',
      'thumbnail',
      'jenis',
      'topik_id'
    ])
  },
  created() {
    this.fetchTopics()
  },
  methods: {
    handleBackButtonClick() {
      this.$verifSwal(
        'Apakah anda yakin ?',
        'Data yang belum disimpan akan hilang',
        'Yakin',
        'Tidak'
      ).then((result) => {
        if (result.value) {
          this.$router.go(-1)
        }
      })
    },
    async fetchTopics() {
      const response = await this.$api.Topic.all()
      this.topics.push(...response.result)
    }
  }
}
</script>
