<template>
  <index-page title="Data User" description="Lihat dan tambah data User">
    <default-table
      ref="table"
      title="Data User"
      :headers="headers"
      :get-data="getUserList"
      :can-create="false"
      @click-edit="editItem"
      @click-delete="deleteItem"
      @click-create="createDialog = true"
    />
    <v-dialog
      v-model="createDialog"
      max-width="800"
      @click:outside="UserData = {}"
    >
      <v-card class="px-0 pb-5">
        <create-comp
          v-if="createDialog"
          :UserData="UserData"
          @done="doneAndRefresh"
        />
      </v-card>
    </v-dialog>
  </index-page>
</template>
<script>
import createComp from '~/components/user/UserCreate'
import DefaultTable from '~/components/common/DefaultTable.vue'
import IndexPage from '~/components/common/IndexPage.vue'
export default {
  components: { createComp, IndexPage, DefaultTable },
  data() {
    return {
      headers: [
        {
          text: 'Nama',
          value: 'nama',
          sortable: false
        },
        {
          text: 'Email',
          value: 'email',
          sortable: false
        }
      ],
      createDialog: false,
      UserData: {}
    }
  },
  created() {
    this.getUserList()
  },
  methods: {
    editItem(item) {
      this.UserData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      this.$deleteSwal().then(async (result) => {
        if (result.value) {
          await this.$api.User.delete(item.id)
          this.$refs.table.fetchItems()
          this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')
        }
      })
    },
    getUserList(page, perPage, search) {
      return this.$api.User.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.UserData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
