<template>
  <index-page title="Data Video" description="Lihat dan tambah data Video">
    <default-table
      ref="table"
      title="Data Video"
      :headers="headers"
      :get-data="getVideoList"
      @click-edit="editItem"
      @click-delete="deleteItem"
      @click-create="createDialog = true"
    />
    <v-dialog
      v-model="createDialog"
      max-width="800"
      @click:outside="VideoData = {}"
    >
      <v-card class="px-0 pb-5">
        <create-comp
          v-if="createDialog"
          :video-data="VideoData"
          @done="doneAndRefresh"
        />
      </v-card>
    </v-dialog>
  </index-page>
</template>
<script>
import createComp from '~/components/video/VideoCreate'
import DefaultTable from '~/components/common/DefaultTable.vue'
import IndexPage from '~/components/common/IndexPage.vue'
export default {
  components: { createComp, IndexPage, DefaultTable },
  data() {
    return {
      headers: [
        {
          text: 'Judul',
          value: 'judul',
          sortable: false
        },
        {
          text: 'URL Video',
          value: 'url_video',
          sortable: false
        },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      createDialog: false,
      VideoData: {}
    }
  },
  created() {
    this.getVideoList()
  },
  methods: {
    editItem(item) {
      this.VideoData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      this.$deleteSwal().then(async (result) => {
        if (result.value) {
          await this.$api.Video.delete(item.id)
          this.$refs.table.fetchItems()
          this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')
        }
      })
    },
    getVideoList(page, perPage, search) {
      return this.$api.Video.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.VideoData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
