<template>
  <index-page title="Data Agenda" description="Lihat dan tambah data Agenda">
    <default-table
      ref="table"
      title="Data Agenda"
      :headers="headers"
      :get-data="getAgendaList"
      @click-edit="editItem"
      @click-delete="deleteItem"
      @click-create="createDialog = true"
    />
    <v-dialog
      v-model="createDialog"
      max-width="800"
      @click:outside="AgendaData = {}"
    >
      <v-card class="px-0 pb-5">
        <create-comp
          v-if="createDialog"
          :agenda-data="AgendaData"
          @done="doneAndRefresh"
        />
      </v-card>
    </v-dialog>
  </index-page>
</template>
<script>
import createComp from '~/components/agenda/AgendaCreate.vue'
import DefaultTable from '~/components/common/DefaultTable.vue'
import IndexPage from '~/components/common/IndexPage.vue'
export default {
  components: { createComp, IndexPage, DefaultTable },
  data() {
    return {
      headers: [
        {
          text: 'Nama Agenda',
          value: 'judul',
          sortable: false
        },
        {
          text: 'Tanggal',
          value: 'tanggal',
          sortable: false
        },
        {
          text: 'Keterangan',
          value: 'keterangan',
          sortable: false
        },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      createDialog: false,
      AgendaData: {}
    }
  },
  created() {
    this.getAgendaList()
  },
  methods: {
    editItem(item) {
      this.AgendaData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      this.$deleteSwal().then(async (result) => {
        if (result.value) {
          await this.$api.Agenda.delete(item.id)
          this.$refs.table.fetchItems()
          this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')
        }
      })
    },
    getAgendaList(page, perPage, search) {
      return this.$api.Agenda.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.AgendaData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
