<template>
  <div>
    <header-comp title="Dashboard" description=""></header-comp>
  </div>
</template>
<script>
import headerComp from '~/components/header'
export default {
  components: {
    headerComp
  }
}
</script>
