<template>
  <div>
    <v-container>
      <default-table
        ref="table"
        title="Soal"
        :headers="headers"
        :get-data="getSoalList"
        @click-edit="editItem"
        @click-delete="deleteItem"
        @click-create="createDialog = true"
      />
    </v-container>
    <v-dialog
      v-model="createDialog"
      max-width="800"
      @click:outside="QuestionData = {}"
    >
      <v-card class="px-0 pb-5">
        <topic-question-create
          v-if="createDialog"
          :question-data="QuestionData"
          :topic-id="$route.params.id"
          @done="doneAndRefresh"
        />
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import DefaultTable from '../common/DefaultTable.vue'
import TopicQuestionCreate from './TopicQuestionCreate.vue'
export default {
  components: { DefaultTable, TopicQuestionCreate },
  props: {
    topicId: {
      type: [String, Number],
      required: true
    }
  },
  data() {
    return {
      headers: [
        {
          text: 'Soal',
          value: 'isi',
          sortable: false
        },
        {
          text: 'Tipe Soal',
          value: 'tipe_soal',
          sortable: false
        },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      createDialog: false,
      QuestionData: {}
    }
  },
  methods: {
    getSoalList(page, perPage, search) {
      return this.$api.Topic.questionDatatable(
        page,
        perPage,
        search,
        this.topicId
      )
    },
    editItem(item) {
      this.QuestionData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      this.$deleteSwal().then(async (result) => {
        if (result.value) {
          await this.$api.Question.delete(item.id)
          this.$refs.table.fetchItems()
          this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')
        }
      })
    },
    getTopicList(page, perPage, search) {
      return this.$api.Topic.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.QuestionData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
