<template>
  <div>
    <header-comp title="Input Data Topik"></header-comp>
    <v-container>
      <v-form ref="formTopic">
        <v-row class="px-5">
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="TopicData.judul"
              label="Judul"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <v-text-field
              v-model="TopicData.short_desc"
              label="Deskripsi Singkat"
              placeholder=" "
              outlined
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <image-input
              v-model="TopicData.foto"
              :rules="TopicData.id ? [] : [rules.required]"
              label="Foto"
            />
            <image-input
              v-model="TopicData.thumbnail"
              :rules="TopicData.id ? [] : [rules.required]"
              label="Thumbnail"
            />
          </v-col>
          <v-col cols="12" sm="12">
            <default-editor v-model="TopicData.long_desc" />
          </v-col>
        </v-row>
        <v-row class="px-5" justify="end">
          <v-btn :loading="loading" color="primary" rounded @click="save"
            >Simpan</v-btn
          >
        </v-row>
      </v-form>
    </v-container>
  </div>
</template>
<script>
import headerComp from '~/components/header'
import ImageInput from '~/components/common/ImageInput'
import DefaultEditor from '~/components/common/DefaultEditor.vue'
export default {
  components: {
    headerComp,
    ImageInput,
    DefaultEditor
  },
  props: ['TopicData'],
  data() {
    return {
      loading: false,
      rules: {
        required: (value) => !!value || 'Wajib diisi.'
      }
      // items: []
    }
  },
  methods: {
    save() {
      const isValid = this.$refs.formTopic.validate()
      if (isValid) {
        if (this.TopicData.id) {
          this.update(this.TopicData.id)
        } else {
          this.create()
        }
      }
    },
    async create() {
      try {
        this.loading = true
        await this.$api.Topic.create(this.TopicData)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    },
    async update(id) {
      try {
        this.loading = true
        const payload = { ...this.TopicData }
        delete payload.id
        await this.$api.Topic.update(id, payload)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    }
  }
}
</script>
