<template>
  <div>
    <header-comp title="Input Data Topik"></header-comp>
    <v-container>
      <v-form ref="questionForm">
        <v-row class="px-5">
          <v-col cols="12" sm="6">
            <v-textarea
              v-model="QuestionData.isi"
              label="Isi Soal"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            />
            <v-autocomplete
              v-model="QuestionData.tipe_soal"
              :items="[
                { label: 'Faktor Resiko', value: 'faktor_resiko' },
                { label: 'Tanda Gejala', value: 'tanda_gejala' }
              ]"
              item-text="label"
              item-value="value"
              outlined=""
              label="Pilih Tipe Soal"
            ></v-autocomplete>
          </v-col>
          <v-col cols="12" sm="6">
            <image-input v-model="QuestionData.foto" label="Foto" />
          </v-col>
        </v-row>
        <v-row class="px-5" justify="end">
          <v-btn :loading="loading" color="primary" rounded @click="save"
            >Simpan</v-btn
          >
        </v-row>
      </v-form>
    </v-container>
  </div>
</template>
<script>
import headerComp from '~/components/header'
import ImageInput from '~/components/common/ImageInput'
export default {
  components: {
    headerComp,
    ImageInput
  },
  props: {
    // eslint-disable-next-line vue/prop-name-casing
    QuestionData: {
      type: Object,
      required: true
    },
    topicId: {
      type: [String, Number],
      required: true
    }
  },
  data() {
    return {
      loading: false,
      rules: {
        required: (value) => !!value || 'Wajib diisi.'
      }
      // items: []
    }
  },
  methods: {
    save() {
      const isValid = this.$refs.questionForm.validate()
      if (isValid) {
        if (this.QuestionData.id) {
          this.update(this.QuestionData.id)
        } else {
          this.create()
        }
      }
    },
    async create() {
      try {
        this.loading = true
        await this.$api.Question.create({
          ...this.QuestionData,
          id_topik: this.topicId
        })
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    },
    async update(id) {
      try {
        this.loading = true
        const payload = { ...this.QuestionData }
        delete payload.id
        await this.$api.Question.update(id, payload)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    }
  }
}
</script>
