<template>
  <div>
    <header-comp title="Input Data AboutPerhompedin"></header-comp>
    <v-container>
      <v-form ref="formAboutPerhompedin">
        <v-row class="px-5">
          <v-col cols="12" sm="6">
            <v-text-field
              label="Title"
              :rules="[rules.required]"
              placeholder=" "
              v-model="AboutPerhompedinData.title"
              outlined
            ></v-text-field>
            <!-- <v-text-field
              label="Content"
              :rules="[rules.required]"
              placeholder=" "
              v-model="AboutPerhompedinData.content"
              outlined
            ></v-text-field> -->
          </v-col>
          <!-- <v-col cols="12" sm="6">
            <v-autocomplete
              v-model="AboutPerhompedinData.itemId"
              :items="items"
              item-text="name"
              item-value="id"
              outlined=""
              label="Pilih Items"
            ></v-autocomplete>
          </v-col>-->
        </v-row>
        <v-row>
        <v-col cols="12">
          <default-editor v-model="AboutPerhompedinData.content" />
        </v-col>
      </v-row>
        <v-row class="px-5" justify="end">
          <v-btn :loading="loading" @click="save" color="primary" rounded>Simpan</v-btn>
        </v-row>
      </v-form>
    </v-container>
  </div>
</template>
<script>
import headerComp from '~/components/header'
import DefaultEditor from '~/components/common/DefaultEditor.vue'
export default {
  props: ['AboutPerhompedinData'],
  components: {
    headerComp,
    DefaultEditor
  },
  data() {
    return {
      loading: false,
      rules: {
        required: (value) => !!value || 'Wajib diisi.'
      }
      // items: []
    }
  },
  methods: {
    save() {
      const isValid = this.$refs.formAboutPerhompedin.validate()
      if (isValid) {
        if (this.AboutPerhompedinData.id) {
          this.update(this.AboutPerhompedinData.id)
        } else {
          this.create()
        }
      }
    },
    async create() {
      try {
        this.loading = true
        await this.$api.AboutPerhompedin.create(this.AboutPerhompedinData)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    },
    async update(id) {
      try {
        this.loading = true
        const payload = { ...this.AboutPerhompedinData }
        delete payload.id
        await this.$api.AboutPerhompedin.update(id, payload)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    }
  }
}
</script>
