<template>
  <div>
    <header-comp title="Edit Data Artikel"></header-comp>
    <article-form
      v-if="ArticleData"
      v-model="ArticleData"
      :loading="loading"
      @submit="update"
    />
  </div>
</template>
<style>
.ck-editor__editable_inline {
  min-height: 400px;
}
</style>
<script>
import ArticleForm from '~/components/article/ArticleForm.vue'
import headerComp from '~/components/header'
export default {
  components: {
    headerComp,
    ArticleForm
  },
  data() {
    return {
      loading: false,
      ArticleData: null
    }
  },
  created() {
    this.fetchArticleData()
  },
  methods: {
    async fetchArticleData() {
      const response = await this.$api.Article.get(this.$route.params.id)
      response.data.content = response.data.content.replaceAll(
        'fileGatewayUrl',
        this.$globalConfig.gateway,
      )
      this.ArticleData = response.data
    },
    async update() {
      try {
        this.loading = true
        const payload = { ...this.ArticleData }
        delete payload.id
        payload.content = payload.content.replaceAll(
          this.$globalConfig.gateway,
          'fileGatewayUrl'
        )
        await this.$api.Article.update(this.ArticleData.id, payload)
        this.loading = false
        this.$router.go(-1)
      } catch (err) {
        this.loading = false
      }
    }
  }
}
</script>
