<template>
  <editor v-bind="$attrs" :init="init" v-on="$listeners" />
</template>
<script>
import 'tinymce/tinymce'
import 'tinymce/themes/silver'
import 'tinymce/icons/default'
import 'tinymce/skins/ui/oxide/skin.css'
import Editor from '@tinymce/tinymce-vue'
export default {
  components: {
    editor: Editor
  },
  computed: {
    init() {
      return {
        height: 500,
        menubar: false,
        plugins: [
          'image imagetools',
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
        menubar: 'file edit view insert format tools table help',
        toolbar:
          'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
        file_picker_types: 'image',
        file_picker_callback: this.handleFilePickerCallback,
        automatic_uploads: true,
        images_upload_handler: this.imageUploadHandler,
        imagetools_cors_hosts: ['localhost:4000'],
        imagetools_credentials_hosts: ['localhost:4000'],
        imagetools_toolbar: 'editimage'
      }
    }
  },
  methods: {
    async imageUploadHandler(blobInfo, success, failure, progress) {
      const formData = new FormData()
      formData.append('upload', blobInfo.blob(), blobInfo.filename())
      try {
        const response = await this.$api.Article.photo(formData)
        const url = response.url.replaceAll(
          'fileGatewayUrl',
          this.$globalConfig.gateway
        )
        success(url)
      } catch (err) {
        failure('File gagal di upload')
      }
    },
    handleFilePickerCallback(cb, value, meta) {
      const input = document.createElement('input')
      input.setAttribute('type', 'file')
      input.setAttribute('accept', 'image/*')

      input.onchange = function() {
        const file = this.files[0]

        const reader = new FileReader()
        reader.onload = function() {
          const id = 'blobid' + new Date().getTime()
          // eslint-disable-next-line no-undef
          const blobCache = tinymce.activeEditor.editorUpload.blobCache
          const base64 = reader.result.split(',')[1]
          const blobInfo = blobCache.create(id, file, base64)
          blobCache.add(blobInfo)
          cb(blobInfo.blobUri(), { title: file.name })
        }
        reader.readAsDataURL(file)
      }
      input.click()
    }
  }
}
</script>
