<template>
  <div>
    <div class="image-container">
      <img :src="image" class="image" @click="showImage" />
      <div class="overlay" @click="showImage">
        <v-row style="height: 150px;" align="center">
          <v-col><v-icon large dark>mdi-open-in-app</v-icon></v-col>
        </v-row>
      </div>
    </div>
    <vue-easy-lightbox
      :visible="visible"
      :imgs="img"
      :index="0"
      @hide="hideImage"
    />
  </div>
</template>
<script>
import VueEasyLightbox from 'vue-easy-lightbox'
export default {
  components: {
    VueEasyLightbox
  },
  props: {
    image: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      img: '',
      visible: false
    }
  },
  methods: {
    showImage() {
      this.img = this.image
      this.visible = true
    },
    hideImage() {
      this.visible = false
    }
  }
}
</script>
<style scoped>
.image-container {
  position: relative;
  height: 150px;
  width: 150px;
}
.image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  object-fit: cover;
}
.image-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
</style>
