<template>
  <div>
    <v-file-input
      ref="image"
      :label="label"
      outlined
      prepend-icon
      placeholder="fotoku.jpeg"
      prepend-inner-icon="mdi-camera"
      v-bind="$attrs"
      v-on="$listeners"
      @change="renderImagePreview"
    ></v-file-input>
    <image-content
      v-if="imagePreview != 'null'"
      width="85%"
      :image="imagePreview"
    />
  </div>
</template>
<script>
import ImageContent from './ImageContent.vue'
export default {
  name: 'ImageInput',
  components: {
    ImageContent
  },
  props: {
    label: {
      type: String,
      default: ''
    },
    value: {
      type: [String, Blob],
      default: ''
    },
    imagePath: {
      type: String,
      default() {
        return this.$globalConfig.gateway
      }
    }
  },
  data() {
    return {
      imagePreview: 'null',
      loading: false
    }
  },
  created() {
    if (this.value) {
      this.imagePreview = `${this.imagePath}/${this.value}`
    }
  },
  methods: {
    renderImagePreview(e) {
      if (!e) {
        this.imagePreview = null
        this.$emit('input', null)
      } else {
        console.log(e)
        // const imageFile = e
        // const options = {
        //   maxSizeMB: 1,
        //   maxWidthOrHeight: 1920,
        //   useWebWorker: true
        // }
        this.loading = true
        try {
          this.$emit('input', e)
          this.imagePreview = URL.createObjectURL(e)
        } catch (error) {
          // eslint-disable-next-line no-console
          console.log(error)
        }
        this.loading = false
      }
    },
    removeImagePreview() {
      this.imagePreview = null
      this.$emit('input', null)
    },
    setImage(image) {
      this.imagePreview = image
    },
    chooseImage() {
      this.$refs.fileInput.$refs.input.click()
    }
  }
}
</script>
<style>
.img {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
}
</style>
