<template>
  <v-menu
    v-model="menu1"
    :close-on-content-click="false"
    max-width="290"
    offset-y
    transition="scale-transition"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        :value="date"
        readonly
        v-bind="{ ...attrs, ...$attrs }"
        v-on="on"
        @click:clear="date = null"
      ></v-text-field>
    </template>
    <v-time-picker v-model="date" format="24hr"></v-time-picker>
    <!-- <v-date-picker
      v-model="date"
      no-title
      @change="menu1 = false"
    ></v-date-picker> -->
  </v-menu>
</template>
<script>
export default {
  props: ['value'],
  data: () => ({
    date: null,
    menu1: false,
    menu2: false
  }),
  watch: {
    date() {
      this.$emit('input', this.date)
    }
  },
  created() {
    if (this.value !== null) {
      this.date = this.value
    }
  }
}
</script>
