<template>
  <index-page title="Data Dokter" description="Lihat dan tambah data Dokter">
    <default-table
      ref="table"
      title="Data Dokter"
      :headers="headers"
      :get-data="getDoctorList"
      @click-edit="editItem"
      @click-delete="deleteItem"
      @click-create="createDialog = true"
    />
    <v-dialog
      v-model="createDialog"
      max-width="800"
      @click:outside="DoctorData = {}"
    >
      <v-card class="px-0 pb-5">
        <create-comp
          v-if="createDialog"
          :DoctorData="DoctorData"
          @done="doneAndRefresh"
        />
      </v-card>
    </v-dialog>
  </index-page>
</template>
<script>
import createComp from '~/components/doctor/DoctorCreate'
import DefaultTable from '~/components/common/DefaultTable.vue'
import IndexPage from '~/components/common/IndexPage.vue'
export default {
  components: { createComp, IndexPage, DefaultTable },
  data() {
    return {
      headers: [
        {
          text: 'Nama',
          value: 'nama',
          sortable: false
        },
        {
          text: 'No Str',
          value: 'no_str',
          sortable: false
        },
        {
          text: 'Telepon',
          value: 'telepon',
          sortable: false
        },
        {
          text: 'Email',
          value: 'email',
          sortable: false
        },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      createDialog: false,
      DoctorData: {}
    }
  },
  created() {
    this.getDoctorList()
  },
  methods: {
    editItem(item) {
      this.DoctorData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      this.$deleteSwal().then(async (result) => {
        if (result.value) {
          await this.$api.Doctor.delete(item.id)
          this.$refs.table.fetchItems()
          this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')
        }
      })
    },
    getDoctorList(page, perPage, search) {
      return this.$api.Doctor.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.DoctorData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
