<template>
  <index-page title="Detail Topik" description="">
    <v-tabs v-model="currentTab">
      <v-tab href="#question">Soal</v-tab>
    </v-tabs>
    <v-tabs-items v-model="currentTab">
      <v-tab-item value="question">
        <topic-question :topic-id="$route.params.id" />
      </v-tab-item>
    </v-tabs-items>
  </index-page>
</template>
<script>
import IndexPage from '~/components/common/IndexPage.vue'
import TopicQuestion from '~/components/topic/TopicQuestion.vue'
export default {
  components: { IndexPage, TopicQuestion },
  data() {
    return {
      currentTab: 'question'
    }
  }
}
</script>
