<template>
  <v-app light style="background-color: #712482; background-image: url(images/bg-oncodoc.png); background-size: cover; background-position: center;">
    <v-container fill-height>
      <v-row align="center" justify="center">
        <v-col cols="5" class="hidden-sm-and-down">
          <v-row justify="center">
            <img width="70%" srcset="images/ilustrasi-login@2x.png" src="images/ilustrasi-login.png" />
          </v-row>
        </v-col>
        <v-col cols="12" md="6">
          <v-row justify="center">
            <v-card style="min-width: 350px" flat color="transparent" class="text-center">
              <component
                :is="currentAuthComp"
                @change-auth-comp="changeAuthComp"
              />
            </v-card>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <v-snackbar
      v-model="$store.state.alert.show"
      :color="$store.state.alert.type"
      right
      top
      vertical
    >
      {{ $store.state.alert.message }}
    </v-snackbar>
  </v-app>
</template>
<script>
import loginComp from './login-comp'
import registerComp from './register-comp'
export default {
  components: { loginComp, registerComp },
  data() {
    return {
      currentAuthComp: 'login-comp'
    }
  },
  created() {},
  methods: {
    changeAuthComp(compText) {
      this.currentAuthComp = compText
    }
  }
}
</script>
