<template>
  <div>
    <v-col>
      <h2 style="color:white">Selamat datang di</h2>
      <img srcset="images/logo_oncodoc_white@2x.png" src="images/logo_oncodoc_white.png" alt="OncoDoc" width="221">
    </v-col>
    <v-form>
      <v-text-field
        v-model="email"
        solo
        label="Email"
        placeholder="dhevxxx@gmail.com"
        color="white"
      ></v-text-field>
      <v-text-field
        v-model="password"
        type="password"
        solo
        label="Password"
        placeholder="******"
        color="white"
      ></v-text-field>
    </v-form>
    <v-row justify="end">
      <v-btn
        large
        class="text-capitalize mr-3"
        :loading="loading"
        rounded
        depressed
        color="white"
        @click="login"
        >login</v-btn
      >
    </v-row>
  </div>
</template>
<script>
export default {
  data() {
    return {
      loading: false,
      email: null,
      password: null
    }
  },
  methods: {
    async login() {
      this.loading = true
      try {
        await this.$auth.loginWith('local', {
          data: {
            email: this.email,
            password: this.password
          }
        })
        this.$router.replace('/app/dashboard')
        this.loading = false
      } catch (err) {
        console.log(err)
        this.loading = false
      }
    }
  }
}
</script>
