<template>
  <index-page
    title="Data Banner"
    description="Lihat dan tambah data Banner"
  >
    <default-table
      ref="table"
      title="Data Banner"
      :headers="headers"
      :get-data="getBannerList"
      @click-edit="editItem"
      @click-delete="deleteItem"
      @click-create="createDialog = true"
    />
    <v-dialog
      v-model="createDialog"
      max-width="800"
      @click:outside="BannerData = {}"
    >
      <v-card class="px-0 pb-5">
        <create-comp
          v-if="createDialog"
          :BannerData="BannerData"
          @done="doneAndRefresh"
        />
      </v-card>
    </v-dialog>
  </index-page>
</template>
<script>
import createComp from '~/components/banner/BannerCreate'
import DefaultTable from '~/components/common/DefaultTable.vue'
import IndexPage from '~/components/common/IndexPage.vue'
export default {
  components: { createComp, IndexPage, DefaultTable },
  data() {
    return {
      headers: [
        {
          text: 'Link',
          value: 'link',
          sortable: false
        },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      createDialog: false,
      BannerData: {}
    }
  },
  created() {
    this.getBannerList()
  },
  methods: {
    editItem(item) {
      this.BannerData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      this.$deleteSwal().then(async (result) => {
        if (result.value) {
          await this.$api.Banner.delete(item.id)
          this.$refs.table.fetchItems()
          this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')
        }
      })
    },
    getBannerList(page, perPage, search) {
      return this.$api.Banner.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.BannerData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
