<template>
  <index-page title="Data Topik" description="Lihat dan tambah data Topik">
    <default-table
      ref="table"
      title="Data Topik"
      :headers="headers"
      :get-data="getTopicList"
      @click-edit="editItem"
      @click-delete="deleteItem"
      @click-create="createDialog = true"
    >
      <template #[`actions.button`]="{item}">
        <v-btn
          :to="{ name: 'app-topic-id', params: { id: item.id } }"
          small
          color="secondary"
          >Detail</v-btn
        >
      </template>
    </default-table>
    <v-dialog
      v-model="createDialog"
      max-width="800"
      @click:outside="TopicData = {}"
    >
      <v-card class="px-0 pb-5">
        <create-comp
          v-if="createDialog"
          :topic-data="TopicData"
          @done="doneAndRefresh"
        />
      </v-card>
    </v-dialog>
  </index-page>
</template>
<script>
import createComp from '~/components/topic/TopicCreate.vue'
import DefaultTable from '~/components/common/DefaultTable.vue'
import IndexPage from '~/components/common/IndexPage.vue'
export default {
  components: { createComp, IndexPage, DefaultTable },
  data() {
    return {
      headers: [
        {
          text: 'Judul',
          value: 'judul',
          sortable: false
        },
        {
          text: 'Deskripsi',
          value: 'short_desc',
          sortable: false
        },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      createDialog: false,
      TopicData: {}
    }
  },
  methods: {
    editItem(item) {
      this.TopicData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      this.$deleteSwal().then(async (result) => {
        if (result.value) {
          await this.$api.Topic.delete(item.id)
          this.$refs.table.fetchItems()
          this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')
        }
      })
    },
    getTopicList(page, perPage, search) {
      return this.$api.Topic.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.TopicData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
