<template>
  <div>
    <header-comp title="Input Data Product"></header-comp>
    <v-container>
      <v-form ref="formProduct">
        <v-row class="px-5">
          <v-col cols="12" sm="6">
             <v-select
            v-model="ProductData.category_id"
            class="mt-3"
            item-text="name"
            item-value="id"
            label="Category"
            outlined
            :items="categories"
          >
          </v-select>
            <v-text-field
              label="Nama"
              :rules="[rules.required]"
              placeholder=" "
              v-model="ProductData.name"
              outlined
            ></v-text-field>
            <image-input
              v-model="ProductData.image"
              :rules="ProductData.id ? [] : [rules.required]"
              label="Image"
            />
            <v-text-field
              label="Desc"
              :rules="[rules.required]"
              placeholder=" "
              v-model="ProductData.desc"
              outlined
            ></v-text-field>
          </v-col>
          <!-- <v-col cols="12" sm="6">
            <v-autocomplete
              v-model="ProductData.itemId"
              :items="items"
              item-text="name"
              item-value="id"
              outlined=""
              label="Pilih Items"
            ></v-autocomplete>
          </v-col>-->
        </v-row>
        <v-row class="px-5" justify="end">
          <v-btn :loading="loading" @click="save" color="primary" rounded>Simpan</v-btn>
        </v-row>
      </v-form>
    </v-container>
  </div>
</template>
<script>
import headerComp from '~/components/header'
import ImageInput from '~/components/common/ImageInput'
export default {
  props: ['ProductData'],
  components: {
    headerComp, ImageInput
  },
  data() {
    return {
      loading: false,
      rules: {
        required: (value) => !!value || 'Wajib diisi.'
      },
      categories: [
        {
          id: null,
          name: 'Tidak terkategori'
        }
      ]
      // items: []
    }
  },
  created() {
    this.fetchCategory()
  },
  methods: {
    save() {
      const isValid = this.$refs.formProduct.validate()
      if (isValid) {
        if (this.ProductData.id) {
          this.update(this.ProductData.id)
        } else {
          this.create()
        }
      }
    },
    async create() {
      try {
        this.loading = true
        await this.$api.Product.create(this.ProductData)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    },
    async update(id) {
      try {
        this.loading = true
        const payload = { ...this.ProductData }
        delete payload.id
        await this.$api.Product.update(id, payload)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    },
    async fetchCategory() {
      const response = await this.$api.ProductCategory.all()
      this.categories.push(...response.result)
    },
  }
}
</script>
