<template>
  <index-page title="Data Artikel" description="Lihat dan tambah data Artikel">
    <default-table
      ref="table"
      title="Data Artikel"
      :headers="headers"
      :get-data="getArticleList"
      :create-to="{ name: 'app-article-new' }"
      :edit-to="{ name: 'app-article-id-edit' }"
      @click-delete="deleteItem"
    >
      <template #[`item.is_published`]="{ item }">
        <span> {{ item.is_published ? 'Publikasi' : 'Belum Publikasi' }} </span>
      </template>
    </default-table>
  </index-page>
</template>
<script>
import DefaultTable from '~/components/common/DefaultTable.vue'
import IndexPage from '~/components/common/IndexPage.vue'
export default {
  components: { IndexPage, DefaultTable },
  data() {
    return {
      headers: [
        {
          text: 'Judul',
          value: 'judul',
          sortable: false
        },
        {
          text: 'Status Publikasi',
          value: 'is_published',
          sortable: false
        },
        {
          text: 'Jenis',
          value: 'jenis',
          sortable: true
        },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      createDialog: false,
      ArticleData: {}
    }
  },
  created() {
    this.getArticleList()
  },
  methods: {
    editItem(item) {
      this.ArticleData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      this.$deleteSwal().then(async (result) => {
        if (result.value) {
          await this.$api.Article.delete(item.id)
          this.$refs.table.fetchItems()
          this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')
        }
      })
    },
    getArticleList(page, perPage, search) {
      return this.$api.Article.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.ArticleData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
