<template>
  <div>
    <header-comp title="Input Data Artikel"></header-comp>
    <article-form v-model="ArticleData" :loading="loading" @submit="create" />
  </div>
</template>
<style>
.ck-editor__editable_inline {
  min-height: 400px;
}
</style>
<script>
import ArticleForm from '~/components/article/ArticleForm.vue'
import headerComp from '~/components/header'
export default {
  components: {
    headerComp,
    ArticleForm
  },
  data() {
    return {
      loading: false,
      ArticleData: { is_published: false }
    }
  },
  methods: {
    async create() {
      try {
        this.loading = true
        const payload = { ...this.ArticleData }
        payload.content = this.ArticleData.content.replaceAll(
          this.$globalConfig.gateway,
          'fileGatewayUrl'
        )
        await this.$api.Article.create(payload)
        this.loading = false
        this.$router.go(-1)
      } catch (err) {
        this.loading = false
      }
    }
  }
}
</script>
