<template>
  <div>
    <header-comp title="Input Data Admin"></header-comp>
    <v-container>
      <v-form ref="formAdmin">
        <v-row class="px-5">
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="AdminData.nama"
              label="Nama"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <v-text-field
              v-model="AdminData.email"
              label="Email"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              type="password"
              v-model="AdminData.password"
              label="Password"
              :rules="AdminData.id ? [] : [rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <v-autocomplete
              v-model="AdminData.role"
              :items="[
                { label: 'Superadmin', value: 'superadmin' },
                { label: 'Admin', value: 'admin' }
              ]"
              item-text="label"
              item-value="value"
              outlined=""
              label="Pilih Role"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row class="px-5" justify="end">
          <v-btn :loading="loading" @click="save" color="primary" rounded
            >Simpan</v-btn
          >
        </v-row>
      </v-form>
    </v-container>
  </div>
</template>
<script>
import headerComp from '~/components/header'
export default {
  props: ['AdminData'],
  components: {
    headerComp
  },
  data() {
    return {
      loading: false,
      rules: {
        required: (value) => !!value || 'Wajib diisi.'
      }
      // items: []
    }
  },
  methods: {
    save() {
      const isValid = this.$refs.formAdmin.validate()
      if (isValid) {
        if (this.AdminData.id) {
          this.update(this.AdminData.id)
        } else {
          this.create()
        }
      }
    },
    async create() {
      try {
        this.loading = true
        await this.$api.Admin.create(this.AdminData)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    },
    async update(id) {
      try {
        console.log(this.AdminData)
        this.loading = true
        const payload = { ...this.AdminData }
        delete payload.id
        await this.$api.Admin.update(id, payload)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    }
  }
}
</script>
