<template>
  <div>
    <header-comp title="Input Data Dokter"></header-comp>
    <v-container>
      <v-form ref="formDoctor">
        <v-row class="px-5">
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="DoctorData.nama"
              label="Nama"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <v-select
            v-model="DoctorData.category_id"
            class="mt-3"
            item-text="category"
            item-value="id"
            label="Category"
            outlined
            :items="categories"
          >
          </v-select>
            <v-text-field
              v-model="DoctorData.email"
              label="Email"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <v-text-field
              v-model="DoctorData.no_str"
              label="No Str"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <v-radio-group
              v-model="DoctorData.jenis_kelamin"
              label="Jenis Kelamin"
            >
              <v-radio value="pria" label="Pria"></v-radio>
              <v-radio value="wanita" label="Wanita"></v-radio>
            </v-radio-group>

            <date-picker
              v-model="DoctorData.tanggal_lahir"
              label="Tanggal Lahir"
              outlined
            ></date-picker>
            <v-text-field
              v-model="DoctorData.tempat_lahir"
              label="Tempat Lahir"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="DoctorData.telepon"
              label="Telepon"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <v-text-field
              v-model="DoctorData.password"
              type="password"
              label="Password"
              :rules="DoctorData.id ? [] : [rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <v-text-field
              v-model="DoctorData.profesi"
              label="Profesi"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <v-text-field
              v-model="DoctorData.tempat_praktek"
              label="Tempat Praktek"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <v-text-field
              v-model="DoctorData.order"
              label="Order"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <image-input
              v-model="DoctorData.photo"
              :rules="DoctorData.id ? [] : [rules.required]"
              label="Foto"
            />
          </v-col>
        </v-row>
        <v-row class="px-5" justify="end">
          <v-btn :loading="loading" color="primary" rounded @click="save"
            >Simpan</v-btn
          >
        </v-row>
      </v-form>
    </v-container>
  </div>
</template>
<script>
import DatePicker from '../common/DatePicker.vue'
import ImageInput from '~/components/common/ImageInput'
import { vmodelMapper } from '~/libs/vue'
import headerComp from '~/components/header'
export default {
  props: ['DoctorData'],
  components: {
    headerComp,
    DatePicker,
    ImageInput
  },
  data() {
    return {
      loading: false,
      rules: {
        required: (value) => !!value || 'Wajib diisi.'
      },
      categories: [
        {
          id: null,
          category: 'Tidak terkategori'
        }
      ]
      // items: []
    }
  },
  computed: {
    ...vmodelMapper([
      'category_id'
    ])
  },
  created() {
    this.fetchCategory()
  },
  methods: {
    save() {
      const isValid = this.$refs.formDoctor.validate()
      if (isValid) {
        if (this.DoctorData.id) {
          this.update(this.DoctorData.id)
        } else {
          this.create()
        }
      }
    },
    async create() {
      try {
        this.loading = true
        await this.$api.Doctor.create(this.DoctorData)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    },
    async update(id) {
      try {
        this.loading = true
        const payload = { ...this.DoctorData }
        delete payload.id
        await this.$api.Doctor.update(id, payload)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    },
    async fetchCategory() {
      const response = await this.$api.DoctorCategory.all()
      this.categories.push(...response.result)
    }
  }
}
</script>
