<template>
  <v-app id="app">
    <v-navigation-drawer
      v-model="drawer"
      width="270"
      :mini-variant.sync="mini"
      app
    >
      <v-list-item style="height:65px" class="px-2 primary" dark>
        <v-list-item-avatar v-if="mini" class="text-center">
          <v-icon>mdi-dots-vertical</v-icon>
        </v-list-item-avatar>

        <v-list-item-title class="text-center">
          <b>OncoDoc</b>
        </v-list-item-title>

        <v-btn
          v-if="!$vuetify.breakpoint.mobile"
          icon
          @click.stop="mini = !mini"
        >
          <v-icon>mdi-menu</v-icon>
        </v-btn>
        <v-btn
          v-if="$vuetify.breakpoint.mobile"
          icon
          @click.stop="drawer = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-list-item>
      <v-divider></v-divider>
      <v-list-item class="px-2">
        <v-list-item-avatar>
          <v-img
            src="https://oncodoc.id/template/assets/images/logogram-perhompedin.png"
          ></v-img>
        </v-list-item-avatar>

        <v-list-item-title>{{ $auth.user.nama }}</v-list-item-title>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense :class="mini ? 'pa-1' : 'pa-3'">
        <div v-for="(item, index) in menus" :key="index">
          <v-list-item
            v-if="!item.children"
            :class="mini ? 'px-3' : 'px-4 py-1'"
            active-class="primary rounded white--text"
            dense
            :to="`/app${item.to}`"
            link
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon || 'mdi-home-city' }}</v-icon>
            </v-list-item-icon>

            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
          <v-list-group
            v-else
            class="mt-1"
            dense
            :prepend-icon="item.icon || 'mdi-home-city'"
          >
            <template v-slot:activator>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </template>

            <v-list-item
              v-for="(subItem, subindex) in item.children"
              :key="subindex"
              :to="`/app${subItem.to}`"
              class="mx-4 mt-1"
              active-class="primary rounded white--text"
            >
              <v-list-item-icon>
                <v-icon>{{ subItem.icon || 'mdi-home-city' }}</v-icon>
              </v-list-item-icon>

              <v-list-item-title>{{ subItem.title }}</v-list-item-title>
            </v-list-item>
          </v-list-group>
        </div>
      </v-list>
    </v-navigation-drawer>

    <v-main app>
      <v-app-bar height="65" color="primary" dark app>
        <v-btn
          v-if="$vuetify.breakpoint.mobile"
          icon
          @click.stop="drawer = true"
        >
          <v-icon>mdi-menu</v-icon>
        </v-btn>
        <div>
          <v-text-field
            dense
            label="Cari data.."
            single-line
            prepend-inner-icon="mdi-magnify"
            outlined
            hide-details
          ></v-text-field>
        </div>
        <v-spacer />
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" icon>
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="logout">
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-app-bar>
      <nuxt-child />
    </v-main>
    <v-snackbar
      v-model="$store.state.alert.show"
      :color="$store.state.alert.type"
      right
      top
      vertical
    >
      {{ $store.state.alert.message }}
    </v-snackbar>
  </v-app>
</template>

<script>
export default {
  middleware: ['auth'],
  data: () => ({
    drawer: true,
    mini: false,
    menus: [
      {
        icon: 'mdi-apps',
        title: 'Dashboard',
        to: '/dashboard'
      },
      {
        icon: 'mdi-database',
        title: 'Master Data',
        children: [
          {
            icon: 'mdi-database',
            title: 'DoctorCategory',
            to: '/doctor-category'
          }
        ]
      },
      {
        icon: 'mdi-account',
        title: 'User',
        children: [
          {
            icon: 'mdi-account',
            title: 'Admin',
            to: '/admin'
          },
          {
            icon: 'mdi-account',
            title: 'User',
            to: '/user'
          },
          {
            icon: 'mdi-account',
            title: 'Dokter',
            to: '/doctor'
          }
        ]
      },
      {
        icon: 'mdi-card-text-outline',
        title: 'Informasi',
        children: [
          {
            icon: 'mdi-card-text-outline',
            title: 'Artikel',
            to: '/article'
          },
          {
            icon: 'mdi-card-text-outline',
            title: 'About Perhompedin',
            to: '/about-perhompedin'
          },
          {
            icon: 'mdi-video',
            title: 'Video',
            to: '/video'
          },
          {
            icon: 'mdi-calendar-text',
            title: 'Agenda',
            to: '/agenda'
          }
        ]
      },
      {
        icon: 'mdi-image',
        title: 'Banner',
        to: '/banner'
      },

      {
        icon: 'mdi-calendar-text',
        title: 'Product Cat',
        to: '/product-category'
      },
      {
        icon: 'mdi-calendar-text',
        title: 'Product',
        to: '/product'
      },
      {
        icon: 'mdi-apps',
        title: 'Skrining',
        to: '/topic'
      },
      {
        icon: 'mdi-notebook-edit',
        title: 'Thread',
        to: '/thread'
      },
      {
        icon: 'mdi-card-text-outline',
        title: 'Critic',
        to: '/critic-advice'
      }
      // {
      //   icon: 'mdi-apps',
      //   title: 'Soal',
      //   to: '/questions'
      // }
    ]
  }),
  methods: {
    logout() {
      this.$auth.logout()
    }
  },
  mounted() {
    console.log(this.$auth)
  }
}
</script>
