<template>
  <index-page title="Data Thread" description="Lihat dan tambah data Thread">
    <default-table
      ref="table"
      title="Data Thread"
      :headers="headers"
      :get-data="getThreadList"
      :can-create="false"
      @click-edit="editItem"
      @click-delete="deleteItem"
      @click-create="createDialog = true"
    />
    <v-dialog
      v-model="createDialog"
      max-width="800"
      @click:outside="ThreadData = {}"
    >
      <v-card class="px-0 pb-5">
        <create-comp
          v-if="createDialog"
          :thread-data="ThreadData"
          @done="doneAndRefresh"
        />
      </v-card>
    </v-dialog>
  </index-page>
</template>
<script>
import createComp from '~/components/Thread/ThreadCreate'
import DefaultTable from '~/components/common/DefaultTable.vue'
import IndexPage from '~/components/common/IndexPage.vue'
export default {
  components: { createComp, IndexPage, DefaultTable },
  data() {
    return {
      headers: [
        {
          text: 'Judul',
          value: 'judul',
          sortable: false
        },
        {
          text: 'Topik',
          value: 'judul_topik',
          sortable: false
        },
        {
          text: 'User',
          value: 'namauser',
          sortable: false
        }
      ],
      createDialog: false,
      ThreadData: {}
    }
  },
  created() {
    this.getThreadList()
  },
  methods: {
    editItem(item) {
      this.ThreadData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      this.$deleteSwal().then(async (result) => {
        if (result.value) {
          await this.$api.Thread.delete(item.id)
          this.$refs.table.fetchItems()
          this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')
        }
      })
    },
    getThreadList(page, perPage, search) {
      return this.$api.Thread.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.ThreadData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
