<template>
  <index-page
    title="Data CriticAdvice"
    description="Lihat dan tambah data CriticAdvice"
  >
    <default-table
      ref="table"
      title="Data CriticAdvice"
      :headers="headers"
      :get-data="getCriticAdviceList"
      :can-create="false"
      @click-edit="editItem"
      @click-delete="deleteItem"
      @click-create="createDialog = false"
    />
    <v-dialog
      v-model="createDialog"
      max-width="800"
      @click:outside="CriticAdviceData = {}"
    >
      <v-card class="px-0 pb-5">
        <create-comp
          v-if="createDialog"
          :CriticAdviceData="CriticAdviceData"
          @done="doneAndRefresh"
        />
      </v-card>
    </v-dialog>
  </index-page>
</template>
<script>
import createComp from '~/components/critic-advice/CriticAdviceCreate'
import DefaultTable from '~/components/common/DefaultTable.vue'
import IndexPage from '~/components/common/IndexPage.vue'
export default {
  components: { createComp, IndexPage, DefaultTable },
  data() {
    return {
      headers: [
        {
          text: 'Nama',
          value: 'nama_user',
          sortable: false
        },
        {
          text: 'Kritik dan Saran',
          value: 'content',
          sortable: false
        },
        // { text: 'Actions', value: 'actions', sortable: false }
      ],
      createDialog: false,
      CriticAdviceData: {}
    }
  },
  created() {
    this.getCriticAdviceList()
  },
  methods: {
    editItem(item) {
      this.CriticAdviceData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      this.$deleteSwal().then(async (result) => {
        if (result.value) {
          await this.$api.CriticAdvice.delete(item.id)
          this.$refs.table.fetchItems()
          this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')
        }
      })
    },
    getCriticAdviceList(page, perPage, search) {
      return this.$api.CriticAdvice.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.CriticAdviceData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
