<template>
  <div>
    <header-comp title="Input Data Video"></header-comp>
    <v-container>
      <v-form ref="formVideo">
        <v-row class="px-5">
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="VideoData.judul"
              label="Judul Video"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <v-text-field
              v-model="VideoData.url_video"
              label="URL Video"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <date-picker
              v-model="VideoData.tgl_upload"
              label="Tanggal Video"
              placeholder=" "
              outlined
            />
            <v-switch
            v-model="VideoData.is_published"
            :label="
              `Status Publikasi: ${
                VideoData.is_published ? 'Terpublikasi' : 'Belum di publikasi'
              }`
            "
          ></v-switch>
          </v-col>
          <v-col v-if="VideoData.id" cols="12" sm="6">

            <item-data
              width="200px"
              :item="{
                title: 'Thumbnail',
                value: VideoData.thumbnail,
                type: 'image'
              }"
            />
          </v-col>
        </v-row>
        <v-row class="px-5" justify="end">
          <v-btn :loading="loading" color="primary" rounded @click="save"
            >Simpan</v-btn
          >
        </v-row>
      </v-form>
    </v-container>
  </div>
</template>
<script>
import ItemData from '../common/ItemData.vue'
import DatePicker from '~/components/common/DatePicker.vue'
import headerComp from '~/components/header'
export default {
  components: {
    DatePicker,
    headerComp,
    ItemData
  },
  props: ['VideoData'],
  data() {
    return {
      loading: false,
      rules: {
        required: (value) => !!value || 'Wajib diisi.'
      }
      // items: []
    }
  },
  methods: {
    save() {
      const isValid = this.$refs.formVideo.validate()
      if (isValid) {
        if (this.VideoData.id) {
          this.update(this.VideoData.id)
        } else {
          this.create()
        }
      }
    },
    async create() {
      try {
        this.loading = true
        await this.$api.Video.create(this.VideoData)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    },
    async update(id) {
      try {
        this.loading = true
        const payload = { ...this.VideoData }
        delete payload.id
        await this.$api.Video.update(id, payload)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    }
  }
}
</script>
