<template>
  <div>
    <header-comp title="Input Data Agenda"></header-comp>
    <v-container>
      <v-form ref="formAgenda">
        <v-row class="px-5">
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="AgendaData.judul"
              label="Judul"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <date-picker
              v-model="AgendaData.tanggal"
              label="Tanggal"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            />
            <v-text-field
              v-model="AgendaData.lokasi"
              label="Lokasi Acara"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-text-field>
            <time-picker
              v-model="AgendaData.jam_mulai"
              label="Jam Mulai"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            />
            <time-picker
              v-model="AgendaData.jam_selesai"
              label="Jam Selesai"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            />
          </v-col>
          <v-col cols="12" sm="6">
            <v-textarea
              v-model="AgendaData.keterangan"
              label="Keterangan"
              :rules="[rules.required]"
              placeholder=" "
              outlined
            ></v-textarea>
            <image-input
              v-model="AgendaData.photo"
              label="Banner Foto (Optional)"
              :image-path="$globalConfig.agendaImagePath"
            />
          </v-col>
        </v-row>
        <v-row class="px-5" justify="end">
          <v-btn :loading="loading" rounded color="primary" @click="save"
            >Simpan</v-btn
          >
        </v-row>
      </v-form>
    </v-container>
  </div>
</template>
<script>
import TimePicker from '../common/TimePicker.vue'
import DatePicker from '~/components/common/DatePicker.vue'
import headerComp from '~/components/header'
import ImageInput from '~/components/common/ImageInput'
export default {
  components: {
    headerComp,
    DatePicker,
    ImageInput,
    TimePicker
  },
  props: ['AgendaData'],
  data() {
    return {
      loading: false,
      rules: {
        required: (value) => !!value || 'Wajib diisi.'
      }
      // items: []
    }
  },
  methods: {
    save() {
      const isValid = this.$refs.formAgenda.validate()
      if (isValid) {
        if (this.AgendaData.id) {
          this.update(this.AgendaData.id)
        } else {
          this.create()
        }
      }
    },
    async create() {
      try {
        this.loading = true
        await this.$api.Agenda.create(this.AgendaData)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    },
    async update(id) {
      try {
        this.loading = true
        const payload = { ...this.AgendaData }
        delete payload.id
        await this.$api.Agenda.update(id, payload)
        this.loading = false
        this.$emit('done')
      } catch (err) {
        this.loading = false
      }
    }
  }
}
</script>
