<template>
  <index-page
    title="Data AboutPerhompedin"
    description="Lihat dan tambah data AboutPerhompedin"
  >
    <default-table
      ref="table"
      title="Data AboutPerhompedin"
      :headers="headers"
      :get-data="getAboutPerhompedinList"
      :can-create="false"
      @click-edit="editItem"
      @click-delete="deleteItem"
      @click-create="createDialog = true"
    />
    <v-dialog
      v-model="createDialog"
      max-width="800"
      @click:outside="AboutPerhompedinData = {}"
    >
      <v-card class="px-0 pb-5">
        <create-comp
          v-if="createDialog"
          :AboutPerhompedinData="AboutPerhompedinData"
          @done="doneAndRefresh"
        />
      </v-card>
    </v-dialog>
  </index-page>
</template>
<script>
import createComp from '~/components/about-perhompedin/AboutPerhompedinCreate'
import DefaultTable from '~/components/common/DefaultTable.vue'
import IndexPage from '~/components/common/IndexPage.vue'
export default {
  components: { createComp, IndexPage, DefaultTable },
  data() {
    return {
      headers: [
        {
          text: 'Title',
          value: 'title',
          sortable: false
        },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      createDialog: false,
      AboutPerhompedinData: {}
    }
  },
  created() {
    this.getAboutPerhompedinList()
  },
  methods: {
    editItem(item) {
      this.AboutPerhompedinData = { ...item }
      this.createDialog = true
    },
    deleteItem(item) {
      // this.$deleteSwal().then(async (result) => {
      //   if (result.value) {
      //     await this.$api.AboutPerhompedin.delete(item.id)
      //     this.$refs.table.fetchItems()
      //     this.$swal.fire('Hapus berhasil!', 'data telah di hapus', 'success')

      //   }
      // })
      this.$swal.fire('Tombol Hapus di matikan!', 'data ini tidak dapat di hapus', 'warning')
    },
    getAboutPerhompedinList(page, perPage, search) {
      return this.$api.AboutPerhompedin.datatable(page, perPage, search)
    },
    doneAndRefresh() {
      this.createDialog = false
      this.AboutPerhompedinData = {}
      this.$refs.table.fetchItems()
    }
  }
}
</script>
